@media(max-width: 700px) {
    body {
        background-color: rgb(240,239,236);
    }
    header {
        display: flex;
        width: 100%;
        background-color: rgb(240,239,236);
    }
    #logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    #logo {
        width: 95%;
    }
    #pageName {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(240,239,236);
        width: 100%;
        border-left: .1vw solid black;
        font-family: 'anton';
    }
    hr {
        margin: 0;
        border: .1vw solid black;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28.55%;
        height: 8vw;
        background-color: rgb(240,239,236);
        border-right: .1vw solid black;
        border-bottom: .1vw solid black;
    }
    a {
        color: black;
        text-decoration: none;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        background-color: rgb(240,239,236);
        width: 100%;
        padding: 3vw 0 3vw 0;
    }
    .finances {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(209, 213, 219);
        border: .2vw solid rgb(30, 58, 138);
    }
    .billInputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(209, 213, 219);
        width: 95%;
    }
    .billsh1 {
        margin: 2vw 0 2vw 0;
        font-family: 'anton';
    }
    input {
        text-align: center;
        width: 90%;
        margin: 2vw 0 2vw 0;
        border: .3vw solid black;
    }
    button {
        margin: 2vw 0 2vw 0;
        border: .3vw solid black;
    }
}